body{
	padding-top:70px;

}

.leftcol{
	border-right:2px solid green;
  position:relative;

}

.searchform{

}

#signinbox{
	padding-top:10%;
}

#insertDom{
	padding-top:5%;

}

@media (min-width: 768px) {
    .leftcolCon {
        position: fixed;
    }
}

@media print {
  body{
    font-size:12pt;
  }

}
