body{
  /*background-image:url("../images/wallpaper3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  background-color:#C21717;
  padding-top:140px;
  padding-bottom:80px;
  color:white;
  
}

@font-face {
  font-family:christmas;
  src:url(../fonts/chris.ttf);
  font-weight:bold;
}


#mainbox{
  border-radius:25px;
  border: 6px solid #73AD21;
  /*background-color:#428bca;*/
  background-image:url("../images/wallpaper12.jpg");
 background-attachment: center;
  padding-top:20px;
  padding-bottom:50px;  

}

#mainbox2{
  border-radius:25px;
  border: 6px solid #73AD21;
  /*background-color:#428bca;*/
  background-image:url("../images/wallpaper8.jpg");
  padding-top:20px;
  padding-bottom:50px;  

}


.mx{
  float:left;
}

#headr{
background-image:url("../images/wallpaper12.jpg");
  height:120px;
}

#sanhead{
  font-family: christmas;
  color:white;
  font-size:5vw;
  text-align:center;
  position:fixed;
  padding-left:5%;
}

#santaimage{
  max-width:100px;
  max-height:100px;
  min-width:50px;
  min-height:50px;
}
